*,*::after,*::before{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
}
h1{
    text-align: center;
    margin-top: 20px;
    font-size: 50px;
    color: #333;
}